# Core data
pyspark==3.5.6
pyarrow==15.0.2
pydantic==2.8.2
PyYAML==6.0.2

# ML baseline
scikit-learn==1.5.1

# Streaming (simple et portable)
kafka-python==2.0.2

# Tests (si tu veux tout dans le runtime ; sinon mets-les dans -dev)
pytest==8.3.2
